@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

body {
    overflow: hidden;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --primary-color: #6030b1;
    --accent-color: #ff328f;
    --secondary-color: #448aff;
}

html {
    scroll-behavior: smooth;
}

li {
    list-style-type: none;
}


a {
   text-decoration: none;
   color: black;
}


.white {
    color: #fff;
}

.btn__menu {
    background-color: transparent;
    font-size: 40px;
    border: none;
    color: white;
    display: none;
    cursor: pointer;
  }

.btn__menu:hover {
    transform: scale(0.7);
    color: var(--accent-color);
    transition: all 600ms ease ;
    
}


.menu__backdrop {
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    transition: all 300ms ease;
    opacity: 0;
    transform: translate(100%);
  }

  
.menu--open {
    max-height: 100vh;
    overflow: hidden;
  }
  
  .menu--open .menu__backdrop {
    visibility: visible !important;
    opacity: 1;
    transform: translate(0);
  }
  
  .menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .menu__list {
    padding: 32px 0;
  }
  
  .menu__link {
    color: var(--primary-color);
    font-size: 40px;
  }
  
  .btn__menu--close {
    position: absolute;
    top: 10px;
    right: 20px;
    padding: 8px;
    cursor: pointer;
    color: var(--accent-color);
  }

  .btn__menu--close:hover{
    transform: scale(0.7);
    transition: all 600ms ease ;
    
  }


.link__hover-effect {
    position: relative;
}

.link__hover-effect:after {
    content: "";
    position: absolute;
    bottom: -3px;
    height: 3px;
    width: 100%;
    width: 0;
    right: 0;
    background-color: var(--accent-color);
    transition: all 300ms ease;
}

.link__hover-effect--movie {
    position: relative;
}

.link__hover-effect--movie:after {
    content: "";
    position: absolute;
    bottom: -3px;
    height: 3px;
    width: 100%;
    width: 0;
    right: 0;
    background-color: var(--accent-color);
    transition: all 300ms ease;
}
.link__hover-effect--movie:hover:after {
     left:  0;
     width: 100%;
}

.link__hover-effect:hover:after {
    left: 0;
    width: 100%;
}


/* 

NAVIGATION

*/

.heading {
    padding-bottom: 12px;
    font-size: 30px;
    color: white;
}

.logo {
    width: 150px;
}

.content-wrapper {
    width: 100%;
    height: 105px;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.nav-links a {
    width: 100%;
    padding: 28px;
    font-size: 16px;
    font-weight: bold;
}

.btn-contact {
    border: none;
    background-color: white;
    padding: 10px;
    border-radius: 16px;
    cursor: pointer;
    
}
.btn-contact a {
    color: var(--primary-color);
    font-size: 14px;
}

.btn-contact:hover {
    background-color: var(--accent-color);
    transition: all 300ms ease;
}

.btn-contact a:hover {
    color: white;
    transition: all 300ms ease;
}

.flex {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px;
}

form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
 }


input {

    width: 100%;
    width: 600px;
    height: 60px;
    border: 0.5px solid var(--primary-color);
    border-radius: 20px;
    font-size: 16px;
    text-align: center;
    
}

input:focus {
    outline: none;
}

.search-btn {
    border: none;
    background-color: white;
    padding: 8px;
    margin: 8px;
    border-radius: 18px;
    width: 150px;
    cursor: pointer;
}


.search-btn:hover {
    background-color: var(--accent-color);
    transition: all 300ms ease;
    
}

.search-icon:hover {
    filter: invert(1);
    transition: all 300ms ease;
}

.search-icon {
    width: 40px;
    
}

#navigation {
    background-image: url(./assets/land.webp);
    background-size: 1200px;
    width: 100%;
}

 








/* Media Queries */

@media (max-width: 550px) {
    .btn__menu {
      display: block;
      margin: 24px;
    }

    form {
        display: flex;
        flex-direction: column;
    }
  
    .nav-links a{
      display: none;
    }

    .nav-links button {
        display: none;
    }
    
    .landing-img {
        display: none;
    }

    .sub-heading {
        text-align: center;
    }

    .logo {
        margin: 20px;
    }

  }
